<%- include ('../../partials/head') %>
  <%- include ('../../partials/header') %>

    <article>
      <h2>
        <%= shift.date_formatted %>
      </h2>
      <p>
        <%= shift.units %> units, <%= shift.rate %> rate
      </p>
      <p>
        <%= shift.comments %>
      </p>
    </article>
    <aside>
      <h3>right bar</h3>
    </aside>

    <%- include('../../partials/footer') %>